[Unit]
Description=SZU Network Login Script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/szu-srun-login -u 200372 -p QQ123456
User=root

[Install]
WantedBy=multi-user.target
